@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.animated-underline::after {
    content: "";
    height: 1px;
    width: 0%;
    background-color: #c4c5c9;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
  }
  
  .animated-underline-box:hover .animated-underline::after {
    width: 100%;
  }